@keyframes flyIn {
    0% { transform: translateY(+50%) translateX(-50%); }
    100% {transform: translateY(0) translateX(-50%);}
}
@keyframes flyOut {
    0% { transform: translateY(0) translateX(-50%); }
    100% {transform: translateY(+50%) translateX(-50%);}
}

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    /* Usuwamy flexa i height z body, żeby scroll działał naturalnie */
}

.header-wrapper {
    height: 80vh; /* 100vh ekranu + 20vh "zapasu" na animację */
    width: 100%;
    position: relative;
}

.container-main {
    background-color: rgb(254, 218, 176);
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    width: 100%;
    height: 100vh; /* Początkowo cały ekran */
    position: sticky; 
    top: 0;
    z-index: 100;
    transition: height 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease;
    box-sizing: border-box;
    overflow: hidden;
}

/* Klasa aktywowana po scrollu */
.container-main.sticky {
    height: 80px; /* Docelowa wysokość paska */
    flex-direction: row;
    top: 0px;
    justify-content: space-between;
    position: fixed;

    border-radius: 0 0 22px 22px;
}

.container-secondary {
    background-color: rgb(255, 238, 218);
    border: 2px solid rgb(243, 164, 68);     
    border-radius: 22px;
    width: 95%;
    max-width: 600px;
    height: 100%;
    margin-top: 25px;
    text-align: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    top: 90px;
    bottom: 10px;
    overflow: auto;
    justify-self: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;

}
.section-box {
    background-color: rgb(255, 219, 176);
    width: 95%;
    margin-top: 10px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.content-container {
    background-color: rgb(251, 207, 153);
    width: 95%;
    margin-top: 10px;
    border-radius: 16px;   
}
.content-container-label {
    color: rgb(106, 58, 0);
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}
.animation-flyIn {
    animation: flyIn 1s ease;
}
.animation-flyOut {
    animation: flyOut 0.5s ease;
}
.container-main img { height: 200px; width: 200px; border-radius: 50%; transition: 0.5s; }
.container-main.sticky img { height: 50px !important; width: 50px !important; margin-left: 20px;}
.container-main p { font-family: sans-serif; font-weight: bold; font-size: 22px; color: rgb(183, 100, 0); transition: 0.5s; }
.container-main.sticky p { font-size: 18px; margin-right: 20px;}