body {
    background-color: #111318;
    color: #e2e2e9;
}
.project {
    border-top: solid 1px #d6e3ff;
    border-left: solid 1px #d6e3ff;
    border-radius: 5px;
    max-width: 800px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px #d6e3ff;
    transition: all 0.1s ease;
    p {
        max-width: 90%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    position: relative;
    .badge {
        position: absolute; top: 10px; right: 10px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 16px;

        p {
            text-align: center;
            font-size: 14px;
            margin: 2px !important;
            font-weight: bold;
        }
    }

}
.project:hover {
    transform: translateY(5px);
    box-shadow: 8px 8px #d6e3ff;
}

main {
    max-width: 1000px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.project-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    img {
        height: 30px;
        width: 30px;
    }
    p {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 1000;
        font-size: 22px;
        
    }
}
.buttons {
    margin: 10px;
    display: flex;
    gap: 10px;
    button {
        border-radius: 10px;
        border: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        font-weight: bold;
        padding: 5px 24px;
        background-color: #aac7ff;
        color: #0a305f;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 3px 3px #0a305f;
        transition: all 0.2s ease;
        img {
            height: 20px;
            width: 20px;
        }
    }
    button:hover {
        border-radius: 8px;
        background-color: #b8d0fd;
        box-shadow: 5px 5px;
        }
    button:active {
        border-radius: 4px;
        background-color: #ccdeff;
    }
}
.navigation-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
    gap: 10px;
    img {
        height: 30px;
        width: 30px;
        border: solid 1px #d6e3ff;
        border-radius: 3px;
        box-shadow: 3px 3px #d6e3ff;
        padding: 2px;
    }
}
.page {
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    display: none;
}
.page.active {
    display: flex !important;
}
#header {
    flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;
}
#navigation-hr {
    display: none;
}
.update {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    img {
        width: 400px;
        max-width: 50%;
        scale: 1.1;
    }
    p {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .project-title {
        margin-top: 25px;
    }
    #header {
        flex-direction: column;
        gap: 0px;
        padding-bottom: 10px;
    }

    #navigation-hr {
        display: block;
        width: 80%;
        border: solid 1px #d6e3ff;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .update {
        p {
            font-size: 14px;
        }

    }
}
